body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 100px;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.6);

  background-color: rgba(255, 255, 255, 0.4);

  padding: 5px 40px;
  margin: 10px 0;
}

.appname {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  font-family: "PP Pangaia";
  font-size: 35px;

  color: #1b1b1b;
}

.add-button {
  background-color: rgba(47, 207, 47);
  opacity: 0.85;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease-out 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
}

.add-button:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.08);
}

@media (max-width: 600px) {
  .add-button {
    font-size: 14px;
    padding: 5px ;
    width: 30px;
    height: 30px;
  }
  h1 {
    font-size: 25px;
  }
  body {
    align-items: center;
    padding: 0 20px;
  }
  .add-icon {
    width: 20px;
  }
  .logo {
    width: 30px;
  }
}
