@if (modalOpen == true) {
<body>

  <!-- add modal -->

  @if (modalMode == 'add') {
  <form [formGroup]="noteForm" (submit)="saveNote()" class="modal">
    <input type="hidden" />
    <div class="top-modal-part">
      <input
        formControlName="title"
        type="text"
        placeholder="Enter your Title"
      />

      <div class="button-container">
        <div class="cancel" (click)="emitFalseModal()">
          <img src="/icon/exit.svg" alt="Save" width="20" />
        </div>
        <button class="save" type="submit">
          <img src="/icon/save.svg" alt="Save" width="20" />
        </button>
      </div>
    </div>
    <textarea
      formControlName="content"
      placeholder="Write your notes here..."
    ></textarea>
    <p class="feelfree">Feel free to adjust your text area's height.</p>
  </form>
  } 
  
  <!-- edit modal -->

  @else if (modalMode == 'edit') {
  <form class="modal">
    <input type="hidden" value="{{ noteIndex }}"/>
    <div class="top-modal-part">
      <input
        type="text"
        placeholder="Enter your Title"
        value="{{ title }}"
      />

      <div class="button-container">
        <div class="cancel" (click)="emitFalseModal()">
          <img src="/icon/exit.svg" alt="Save" width="20" />
        </div>
        <button class="save">
          <img src="/icon/save.svg" alt="Save" width="20" />
        </button>
      </div>
    </div>
    <textarea
      placeholder="Write your notes here..."
      >{{ content }}</textarea
    >
    <p class="feelfree">Feel free to adjust your text area's height.</p>
  </form>
  }


</body>

}
