<body>

  <app-modal
    [modalOpen]="isModalOpen"
    [modalMode]="modalMode"
    [noteIndex]="noteIndex"
    [title]="noteTitle"
    [content]="noteContent"
    (modalClose)="closeModal($event)"
  ></app-modal>


  <app-header (addModal)="openAddModal()"></app-header>


  @for (note of notes; let index = $index; track note.title){
  <app-note
    [index]="index"
    [title]="note.title"
    [content]="note.content"
    (editModal)="editModal($event)"
  ></app-note>
  }


  <app-footer></app-footer>

</body>
