body {
  border-radius: 50px;
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);

  padding: 20px 60px;

  font-size: 14px;

  margin: 10px 0;

  cursor: pointer;

  transition: all ease-out 0.8s;
}

body:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.02);
}

h2 {
  font-family: "PP Pangaia";
  font-size: 25px;
  color: #111;
}

p {
  color: #444;
}

.top-part-note-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  width: 40px;
  aspect-ratio: 1 / 1;
}

button:hover {
  background-color: #44444410;
}

@media (max-width: 600px) {
  h2 {
    font-size: 22px;
  }
  body {
    align-items: center;
    padding: 15px 30px;
    border-radius: 38px;
  }
}
